:root {
  --font-primary: "Noto Sans, Arial, sans-serif", sans-serif;
  --color-primary: #1b74e4;
  --color-primary-text: #050505;
  --color-secondary-text: #65676b;
  --color-white: #ffffff;
  --color-main-bg: #f0f2f5;
  --color-border: #e4e6eb;
  --color-bg-blue-5: #ecf3ff;
  --color-gray-05: #ebedf0;
  --color-error: #f3425f;
  --color-success: #45bd62;
  --color-warning: #f7b928;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  color: var(--color-primary-text);
  font-size: 16px;
  line-height: 1.34;
  background-color: var(--color-main-bg);
}

ul {
  list-style: none;
}

.btn {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  line-height: 1.2;
  cursor: pointer;
  white-space: nowrap;
}

/* custom scroll bar */
.scrollbar {
  scrollbar-width: thin;
  overflow-y: auto;
  overflow: hidden;

  &:hover {
    overflow-y: auto;
  }
}
.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 16px var(--color-main-bg);
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar {
  width: 7px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 16px rgba(228, 217, 217, 0.041);
  background-color: #ccc;
}
